In [1]:
# Importing Libraries/Dependencies
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
import selenium
from selenium import webdriver 
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.chrome.service import Service
import requests
import re
import warnings
warnings.filterwarnings("ignore")

In [2]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

AHMEDABAD

In [3]:
url = "https://www.cardekho.com/used-cars+in+ahmedabad"
driver.get(url)
time.sleep(6)

In [4]:
brand=[]
model=[]
variant=[]
manuf_year=[]
Driven_KM=[]
fuel=[]
location=[]
No_owners=[]
price=[]

In [8]:
time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [9]:
df1=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df1

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
1,2018 Hyundai Verna,10.00 Lakh,VTVT 1.6 SX Option,"54,195 kms",Petrol,Manual
2,2018 Maruti Alto 800,3.50 Lakh,LXI,"5,709 kms",Petrol,Manual
3,2016 Honda Jazz,6.25 Lakh,V CVT,"39,821 kms",Petrol,Automatic
4,2018 Hyundai i20,6.37 Lakh,1.2 Spotz,"29,771 kms",Petrol,Manual
...,...,...,...,...,...,...
715,2016 Hyundai Creta,9.95 Lakh,1.6 VTVT AT SX Plus,"42,000 kms",Petrol,Automatic
716,2004 Maruti Wagon R,50000,LX,"1,10,000 kms",Petrol,Manual
717,2003 Maruti 800,45000,AC,"1,00,000 kms",Petrol,Manual
718,2017 Toyota Innova Crysta,16.90 Lakh,2.4 VX MT 8 STR,"70,000 kms",Diesel,Manual
719,2018 Maruti Alto 800,3.60 Lakh,LXI,"65,000 kms",Petrol,Manual

In [10]:
driver.close()

BANGALORE

In [11]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [12]:
url = "https://www.cardekho.com/used-cars+in+bangalore"
driver.get(url)
time.sleep(6)

In [16]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [17]:
df2=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df2

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2014 Maruti Wagon R,4.30 Lakh,VXI BS IV,"20,844 kms",Petrol,Manual
1,2020 Maruti XL6,11.70 Lakh,Alpha AT,"10,193 kms",Petrol,Automatic
2,2017 Toyota Fortuner,28.41 Lakh,2.8 2WD MT BSIV,"48,836 kms",Diesel,Manual
3,2018 Tata Nexon,7.92 Lakh,KRAZ,"15,176 kms",Petrol,Manual
4,2020 MG Hector,19.90 Lakh,Sharp DCT,"13,165 kms",Petrol,Automatic
...,...,...,...,...,...,...
75,2017 Ford Aspire,5.85 Lakh,1.2 Ti-VCT Titanium,"52,000 kms",Petrol,Manual
76,2016 Ford Ecosport,7.45 Lakh,1.5 Ti VCT MT Titanium BSIV,"65,000 kms",Petrol,Manual
77,2018 Skoda Octavia,34.75 Lakh,RS245,"10,000 kms",Petrol,Automatic
78,2016 Hyundai Creta,8.35 Lakh,1.6 VTVT S,"74,085 kms",Petrol,Manual
79,2012 Mahindra XUV500,7.15 Lakh,W8 FWD,"57,000 kms",Diesel,Manual

In [18]:
frames = [df1, df2]
  
result = pd.concat(frames)
display(result)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
1,2018 Hyundai Verna,10.00 Lakh,VTVT 1.6 SX Option,"54,195 kms",Petrol,Manual
2,2018 Maruti Alto 800,3.50 Lakh,LXI,"5,709 kms",Petrol,Manual
3,2016 Honda Jazz,6.25 Lakh,V CVT,"39,821 kms",Petrol,Automatic
4,2018 Hyundai i20,6.37 Lakh,1.2 Spotz,"29,771 kms",Petrol,Manual
...,...,...,...,...,...,...
75,2017 Ford Aspire,5.85 Lakh,1.2 Ti-VCT Titanium,"52,000 kms",Petrol,Manual
76,2016 Ford Ecosport,7.45 Lakh,1.5 Ti VCT MT Titanium BSIV,"65,000 kms",Petrol,Manual
77,2018 Skoda Octavia,34.75 Lakh,RS245,"10,000 kms",Petrol,Automatic
78,2016 Hyundai Creta,8.35 Lakh,1.6 VTVT S,"74,085 kms",Petrol,Manual
79,2012 Mahindra XUV500,7.15 Lakh,W8 FWD,"57,000 kms",Diesel,Manual

MUMBAI

In [27]:
# Connecting to the webdriver
driver1 = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [28]:
url = "https://www.cardekho.com/used-cars+in+mumbai"
driver1.get(url)
time.sleep(6)

In [32]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver1.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver1.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver1.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver1.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [33]:
df3=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df3

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Hyundai Creta,10.94 Lakh,1.6 VTVT SX Plus Dual Tone,"63,947 kms",Petrol,Manual
1,2015 Skoda Rapid,4.74 Lakh,1.5 TDI Active,"63,855 kms",Diesel,Manual
2,2018 Mahindra TUV 300,7.90 Lakh,T10,"36,668 kms",Diesel,Manual
3,2019 Hyundai Venue,10.50 Lakh,SX Plus Turbo DCT BSIV,"33,822 kms",Petrol,Automatic
4,2013 Maruti Swift,3.40 Lakh,VXI,"61,932 kms",Petrol,Manual
...,...,...,...,...,...,...
395,2016 Maruti Ciaz,6.11 Lakh,ZXi,"80,117 kms",Petrol,Manual
396,2016 Hyundai Creta,9.90 Lakh,1.6 CRDi SX,"89,626 kms",Diesel,Manual
397,2016 Hyundai Xcent,4.65 Lakh,1.2 Kappa SX,"16,893 kms",Petrol,Manual
398,2014 Maruti Swift,4.20 Lakh,VVT VXI,"43,268 kms",Petrol,Manual
399,2018 Maruti Vitara Brezza,8.72 Lakh,ZDi,"66,046 kms",Diesel,Manual

In [34]:
frame = [result, df3]
  
r1 = pd.concat(frame)
display(r1)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
1,2018 Hyundai Verna,10.00 Lakh,VTVT 1.6 SX Option,"54,195 kms",Petrol,Manual
2,2018 Maruti Alto 800,3.50 Lakh,LXI,"5,709 kms",Petrol,Manual
3,2016 Honda Jazz,6.25 Lakh,V CVT,"39,821 kms",Petrol,Automatic
4,2018 Hyundai i20,6.37 Lakh,1.2 Spotz,"29,771 kms",Petrol,Manual
...,...,...,...,...,...,...
395,2016 Maruti Ciaz,6.11 Lakh,ZXi,"80,117 kms",Petrol,Manual
396,2016 Hyundai Creta,9.90 Lakh,1.6 CRDi SX,"89,626 kms",Diesel,Manual
397,2016 Hyundai Xcent,4.65 Lakh,1.2 Kappa SX,"16,893 kms",Petrol,Manual
398,2014 Maruti Swift,4.20 Lakh,VVT VXI,"43,268 kms",Petrol,Manual
399,2018 Maruti Vitara Brezza,8.72 Lakh,ZDi,"66,046 kms",Diesel,Manual

In [35]:
driver1.close()

JAIPUR

In [36]:
# Connecting to the webdriver
driver2 = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [37]:
url = "https://www.cardekho.com/used-cars+in+jaipur"
driver2.get(url)
time.sleep(6)

In [38]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver2.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver2.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver2.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver2.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [39]:
df4=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df4

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2021 Maruti Baleno,7.85 Lakh,Delta,"16,477 kms",Petrol,Manual
1,2020 Honda City,12.66 Lakh,ZX CVT,"36,404 kms",Petrol,Automatic
2,2018 Maruti Vitara Brezza,8.10 Lakh,ZDi,"90,324 kms",Diesel,Manual
3,2014 BMW 3 Series,15.76 Lakh,320d Prestige,"90,649 kms",Diesel,Automatic
4,2015 Toyota Etios Liva,6.11 Lakh,GD,"58,191 kms",Diesel,Manual
...,...,...,...,...,...,...
555,2018 Hyundai Grand i10,4.96 Lakh,1.2 CRDi Magna,"83,216 kms",Diesel,Manual
556,2016 Hyundai Grand i10,4.50 Lakh,CRDi Sportz,"96,727 kms",Diesel,Manual
557,2014 Honda City,6.76 Lakh,i DTEC V,"65,931 kms",Diesel,Manual
558,2018 Maruti Wagon R,4.42 Lakh,VXI BS IV,"58,712 kms",Petrol,Manual
559,2015 Maruti Swift,5.43 Lakh,VXI,"51,218 kms",Petrol,Manual

In [40]:
fram = [r1, df4]
  
r2 = pd.concat(fram)
display(r2)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
1,2018 Hyundai Verna,10.00 Lakh,VTVT 1.6 SX Option,"54,195 kms",Petrol,Manual
2,2018 Maruti Alto 800,3.50 Lakh,LXI,"5,709 kms",Petrol,Manual
3,2016 Honda Jazz,6.25 Lakh,V CVT,"39,821 kms",Petrol,Automatic
4,2018 Hyundai i20,6.37 Lakh,1.2 Spotz,"29,771 kms",Petrol,Manual
...,...,...,...,...,...,...
555,2018 Hyundai Grand i10,4.96 Lakh,1.2 CRDi Magna,"83,216 kms",Diesel,Manual
556,2016 Hyundai Grand i10,4.50 Lakh,CRDi Sportz,"96,727 kms",Diesel,Manual
557,2014 Honda City,6.76 Lakh,i DTEC V,"65,931 kms",Diesel,Manual
558,2018 Maruti Wagon R,4.42 Lakh,VXI BS IV,"58,712 kms",Petrol,Manual
559,2015 Maruti Swift,5.43 Lakh,VXI,"51,218 kms",Petrol,Manual

In [41]:
driver2.close()

GURGAON

In [42]:
# Connecting to the webdriver
driver3 = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [43]:
url = "https://www.cardekho.com/used-cars+in+gurgaon"
driver3.get(url)
time.sleep(6)

In [47]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver3.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver3.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver3.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver3.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [48]:
df5=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df5

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Swift,4.65 Lakh,LXI Optional-O,"24,422 kms",Petrol,Manual
1,2017 Hyundai Creta,9.85 Lakh,1.6 VTVT AT SX Plus,"62,871 kms",Petrol,Automatic
2,2014 Toyota Etios Cross,3.47 Lakh,1.4L VD,"92,010 kms",Diesel,Manual
3,2017 Ford Ecosport,6.78 Lakh,1.5 Diesel Ambiente BSIV,"79,121 kms",Diesel,Manual
4,2015 Mahindra XUV500,8.59 Lakh,W10 AWD,"47,454 kms",Diesel,Manual
...,...,...,...,...,...,...
555,2018 Maruti Alto 800,3.35 Lakh,LXI,"25,508 kms",Petrol,Manual
556,2016 Hyundai Grand i10,3.58 Lakh,CRDi Sportz,"64,318 kms",Diesel,Manual
557,2018 Renault Captur,7.45 Lakh,1.5 Petrol RXL,"15,245 kms",Petrol,Manual
558,2020 Mahindra Scorpio,16.90 Lakh,S11,"31,462 kms",Diesel,Manual
559,2021 Renault Kiger,8.02 Lakh,RXT AMT,"5,799 kms",Petrol,Automatic

In [49]:
fra = [r2, df5]
  
r3 = pd.concat(fra)
display(r3)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
1,2018 Hyundai Verna,10.00 Lakh,VTVT 1.6 SX Option,"54,195 kms",Petrol,Manual
2,2018 Maruti Alto 800,3.50 Lakh,LXI,"5,709 kms",Petrol,Manual
3,2016 Honda Jazz,6.25 Lakh,V CVT,"39,821 kms",Petrol,Automatic
4,2018 Hyundai i20,6.37 Lakh,1.2 Spotz,"29,771 kms",Petrol,Manual
...,...,...,...,...,...,...
555,2018 Maruti Alto 800,3.35 Lakh,LXI,"25,508 kms",Petrol,Manual
556,2016 Hyundai Grand i10,3.58 Lakh,CRDi Sportz,"64,318 kms",Diesel,Manual
557,2018 Renault Captur,7.45 Lakh,1.5 Petrol RXL,"15,245 kms",Petrol,Manual
558,2020 Mahindra Scorpio,16.90 Lakh,S11,"31,462 kms",Diesel,Manual
559,2021 Renault Kiger,8.02 Lakh,RXT AMT,"5,799 kms",Petrol,Automatic

In [51]:
driver3.close()

DELHI NCR

In [58]:
# Connecting to the webdriver
driver4 = webdriver.Chrome(r"C:\Users\user\Downloads\chromedriver_win32\chromedriver.exe")

In [59]:
url = "https://www.cardekho.com/used-cars+in+delhi-ncr"
driver4.get(url)
time.sleep(6)

In [63]:
brand=[]
model=[]
variant=[]
Driven_KM=[]
fuel=[]
price=[]

time.sleep(3)

start=0
end=4
for page in range(start,end):
    
    brands=driver4.find_elements_by_xpath("//div[@class='gsc_col-xs-7  carsName']/a")
    for i in brands:
        brand.append(i.text)
        
    prices=driver4.find_elements_by_xpath("//span[@class='amnt ']")
    for i in prices:
        price.append(i.text)
        
    models=driver4.find_elements_by_xpath("//div[@class='car_variant']")
    for i in models:
        model.append(i.text)  
        
    kms=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[1]"))
    for i in kms:
        Driven_KM.append(i.text)
        
    fuels=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[2]"))
    for i in fuels:
        fuel.append(i.text)
        
    variants=driver4.find_elements_by_xpath(("//div[@class='truncate dotlist-2']/div[3]"))
    for i in variants:
        variant.append(i.text)

In [64]:
df6=pd.DataFrame({
'Brand':brand[:],                 
'Price':price[:],
'Model':model[:],
'KMS_driven':Driven_KM[:],
'Fuel':fuel[:],
'Variant':variant[:]})
df6

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2017 Maruti Swift,4.65 Lakh,LXI Optional-O,"24,422 kms",Petrol,Manual
1,2017 Hyundai Creta,9.85 Lakh,1.6 VTVT AT SX Plus,"62,871 kms",Petrol,Automatic
2,2014 Toyota Etios Cross,3.47 Lakh,1.4L VD,"92,010 kms",Diesel,Manual
3,2017 Ford Ecosport,6.78 Lakh,1.5 Diesel Ambiente BSIV,"79,121 kms",Diesel,Manual
4,2015 Mahindra XUV500,8.59 Lakh,W10 AWD,"47,454 kms",Diesel,Manual
...,...,...,...,...,...,...
555,2014 Maruti Alto K10,2.90 Lakh,VXI,"21,191 kms",Petrol,Manual
556,2015 Mahindra XUV500,8.59 Lakh,W10 AWD,"47,454 kms",Diesel,Manual
557,2019 MG Hector,16.61 Lakh,Sharp DCT,"34,880 kms",Petrol,Automatic
558,2018 Renault Captur,7.45 Lakh,1.5 Petrol RXL,"15,245 kms",Petrol,Manual
559,2019 Hyundai Venue,10.72 Lakh,SX Plus Turbo DCT BSIV,"11,532 kms",Petrol,Automatic

In [65]:
fr = [r3, df6]
  
r4 = pd.concat(fr)
display(r4)

,Brand,Price,Model,KMS_driven,Fuel,Variant
0,2018 Honda Jazz,7.05 Lakh,V CVT,"64,554 kms",Petrol,Automatic
1,2018 Hyundai Verna,10.00 Lakh,VTVT 1.6 SX Option,"54,195 kms",Petrol,Manual
2,2018 Maruti Alto 800,3.50 Lakh,LXI,"5,709 kms",Petrol,Manual
3,2016 Honda Jazz,6.25 Lakh,V CVT,"39,821 kms",Petrol,Automatic
4,2018 Hyundai i20,6.37 Lakh,1.2 Spotz,"29,771 kms",Petrol,Manual
...,...,...,...,...,...,...
555,2014 Maruti Alto K10,2.90 Lakh,VXI,"21,191 kms",Petrol,Manual
556,2015 Mahindra XUV500,8.59 Lakh,W10 AWD,"47,454 kms",Diesel,Manual
557,2019 MG Hector,16.61 Lakh,Sharp DCT,"34,880 kms",Petrol,Automatic
558,2018 Renault Captur,7.45 Lakh,1.5 Petrol RXL,"15,245 kms",Petrol,Manual
559,2019 Hyundai Venue,10.72 Lakh,SX Plus Turbo DCT BSIV,"11,532 kms",Petrol,Automatic

In [66]:
driver4.close()

In [67]:
# Saving the scraped data into excel file
r4.to_excel("Used_Cars_Data.xlsx")

In [68]:
# Saving the scraped data into csv file
r4.to_csv("Used_Cars_Data.csv")